<script src="assets/Geolib-master/dist/geolib.js"></script>

<p id="notice"><%= notice %></p>

<h1>Map</h1>

<h2>
<center>
<%= link_to "画像で見る", :controller => "top", :action => "index" %>
</center>
</h2>

<center>
	<%= form_tag({ :controller => 'map', :action => 'home' }, { method: :post}) do %>
		<div>
			<input type="text" name="place">
			<button>検索</button>
		</div>
	<%  end %>
</center>

<style type="text/css">
#map { height: 700px;
	margin-left:auto;    /* 左側マージンを自動的に空ける */
	margin-right:auto;   /* 右側マージンを自動的に空ける */
	text-align:left;     /* 中身を左側表示に戻す */
	width: 80%;}
</style>

<div id="map"></div>


<script type="text/javascript">

	function initMap() {

		var lat_now = 0;
		var lng_now = 0;

		// 対応している場合
		if( navigator.geolocation )
		{
			// 現在地を取得
			navigator.geolocation.getCurrentPosition(

				// [第1引数] 取得に成功した場合の関数
				function( position )
				{
					// 取得したデータの整理
					var data = position.coords ;

					// データの整理
					lat_now = data.latitude ;
					lng_now = data.longitude ;

					//map表示処理
					var now = {lat: lat_now , lng: lng_now};
					// var test ={lat: <%#= @latitude %>, lng: <%#= @longitude %>};
					var map = new google.maps.Map(document.getElementById('map'), {
						zoom: 15,
						center: now
					});
					var transitLayer = new google.maps.TransitLayer();
					transitLayer.setMap(map);

					var infowindow = new google.maps.InfoWindow();

					var marker = new google.maps.Marker({
						position:now,
						map: map,
						   icon: {
						           fillColor: "#0000FF",                //塗り潰し色
						           fillOpacity: 0.8,                    //塗り潰し透過率
						           path: google.maps.SymbolPath.CIRCLE, //円を指定
						           scale: 16,                           //円のサイズ
						           strokeColor: "#0000FF",              //枠の色
						           strokeWeight: 1.0                    //枠の透過率
						   }
					});

					// 吹き出しを閉じる処理
					google.maps.event.addListener(map, "click", function() {infowindow.close();});


					//ダミー
					var point = new google.maps.LatLng(36.073264, 140.100668);
					var marker = create_maker(point, "info", "<img src='http://blog-imgs-92.fc2.com/b/l/o/blogman55/livejupiter_1464425616_201s.jpg' /><br><a href='twitter.com'>Tweet</a>", map, infowindow);
                    var point = new google.maps.LatLng(36.103264, 140.006668);
                    var marker = create_maker(point, "info", "<img src='https://userdisk.webry.biglobe.ne.jp/002/402/18/N000/000/001/20080921.jpg' /><br><a href='twitter.com'>Tweet</a>", map, infowindow);

                    var point = new google.maps.LatLng(36.2545182, 140.1289645);
                    var marker = create_maker(point, "info", "<img src='http://image.space.rakuten.co.jp/lg01/31/0001148331/60/img77e670b1zikdzj.jpeg' /><br><a href='twitter.com'>Tweet</a>", map, infowindow);

                    var point = new google.maps.LatLng(36.129150, 140.1815369);
                    var marker = create_maker(point, "info", "<img src='https://rpr.c.yimg.jp/im_siggqAZsZRWN8TnxcpyGgaloVA---x800-n1/amd/20170625-00072514-roupeiro-000-11-view.jpg' /><br><a href='twitter.com'>Tweet</a>", map, infowindow);

					// マーカー追加
					<% @tweets.map do |tweet| %>

						var point = new google.maps.LatLng(<%= (tweet.place.bounding_box.coordinates[0][0][1]+tweet.place.bounding_box.coordinates[0][2][1])/2 %>,<%= (tweet.place.bounding_box.coordinates[0][0][0]+tweet.place.bounding_box.coordinates[0][1][0])/2 %>);

						<% if tweet.media? then %>


							var marker = create_maker(point, "info", "<img src='<%= tweet.media.first.media_uri %>' /><br><a href='https://twitter.com/<%= tweet.user.screen_name %>/status/<%= tweet.id %>'>Tweet</a>", map, infowindow);
						<% end %>
					<% end %>

				}, 

				// [第2引数] 取得に失敗した場合の関数
				function( error )
				{
					// エラーコード(error.code)の番号
					// 0:UNKNOWN_ERROR				原因不明のエラー
					// 1:PERMISSION_DENIED			利用者が位置情報の取得を許可しなかった
					// 2:POSITION_UNAVAILABLE		電波状況などで位置情報が取得できなかった
					// 3:TIMEOUT					位置情報の取得に時間がかかり過ぎた…

					// エラー番号に対応したメッセージ
					var errorInfo = [
						"原因不明のエラーが発生しました…。" ,
						"位置情報の取得が許可されませんでした…。" ,
						"電波状況などで位置情報が取得できませんでした…。" ,
						"位置情報の取得に時間がかかり過ぎてタイムアウトしました…。"
					] ;

					// エラー番号
					var errorNo = error.code ;

					// エラーメッセージ
					var errorMessage = "[エラー番号: " + errorNo + "]\n" + errorInfo[ errorNo ] ;

					// アラート表示
					alert( errorMessage ) ;

					// HTMLに書き出し
					document.getElementById("result").innerHTML = errorMessage;
				} ,

				// [第3引数] オプション
				// {
				// 	"enableHighAccuracy": false,
				// 	"timeout": 8000,
				// 	"maximumAge": 2000,
				// }

			) ;
		}
		// 対応していない場合
		else
		{
			// エラーメッセージ
			var errorMessage = "お使いの端末は、GeoLacation APIに対応していません。" ;

			// アラート表示
			alert( errorMessage ) ;

			// HTMLに書き出し
			document.getElementById( 'result' ).innerHTML = errorMessage ;
		}


	}

function create_maker(latlng, label, html, map, infowindow) {
	// マーカーを生成
	var marker = new google.maps.Marker({position: latlng, map: map, title: label});
	// マーカーをマウスオーバーした時の処理
	google.maps.event.addListener(marker, "mouseover", function() {
		infowindow.setContent(html);
		infowindow.open(map, marker);
	});
}
</script>
<script async defer
		src= <%= @api_key %> >
</script>
